.tafel01 {
    background-color: black;
    color: aliceblue;
    width: 100%;
    font-size: 25px;  
    border-spacing: 10px;
    padding-left: 60px;
    padding-right: 60px;
    
}

.logo {
    width: 210px;
    height: 160px;
    float: left;
    margin-left: -15px;
    margin-bottom: -25px;
    margin-top: -15px;
    
}

/* a href link */
a {
    text-decoration: none;
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}